*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

.left-container{
  float: left;
  width: 50%;
  height: 100vh;
}

  .main-container{
    width: 85%;
    margin: 0 auto;
  }
.right-container{
  float: left;
  width: 50%;
  height: 100vh;
  background:rgb(255, 245, 226);


}

/* contenitore delle checkbox */
.checkbox-point{
  float: left;
  width: 100%;
  height: 200px;
}

.title{
  height: 100px;
  width: 100%;
  background-color:rgb(253, 187, 64);
  padding: 50px 0 0 52px;
  position: relative;
}
.title img{
  width: 150px;
  position: absolute;
  top: 0;
  right: -74px;
}


/* colonne checkbox di sinstra e destra */
.check-1 , .check-2{
  float: left;
  width: 50%;
  padding-bottom: 25px;
}

.check-1 img , .check-2 img{
  width: 40px;
  vertical-align: middle;
  padding: 3px;
  margin-bottom: 10px;
}

.discount-btn{
  margin-top: 25px;
}
.discount-btn input{
  width: 70%;
  background: #ffcccc;
  border: none;
  border-radius: 5px;
  margin-left: 7px;
  height: 20px;
}

/* modifica delle checbox */
input[type=checkbox] {
  visibility: hidden;
}


.row-check span:before{
  width: 17px;
height: 17px;
background-color:rgb(211,51,99) ;
display: inline-block;
content: "";
position: relative;
margin-right: 21px;
bottom: -1px;

}

.row-check input[type=checkbox]:checked + span::before{

display: inline-block;
z-index: 1;
content: '\f107';
 font-family: 'Font Awesome\ 5 Free';
 font-weight: 900;
 font-size: 20px;
}

#nameburgertext{
  border: none;
  font-size: 25px;
  padding-top: 30px;
}


#ingredients{
font-size: 25px;
padding: 30px 0 15px 0;
}

.fa{
position: relative;
left: 34px;
z-index: 1;
visibility: hidden;
}


/* contenitore bottone calcuate */
.container-btn{
  width: 100%;
  display: flex;
  justify-content: center;
}
#button-submit{
  background-color:rgb(253, 187, 64);
  margin-bottom: 100px;
  width: 100px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
}

/* contenuto di footer */
.total{
  height: 70px;
  width: 100%;
  display: flex;
  background: rgb(211, 51, 89);
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 50px;
  font-size: 20px;
}
